# Tutorial: How to work with PDS Index files

In this tutorial, we will learn how to work with PDS Index files.

These files contain metadata about the observations and they were mostly provided for 
data that was delivered in the PDS3 format.

We first will look at the tree list of instrument data indexes that `planetarypy` is so far supporting.

Then we will have a look at several utility functions that help receiving the structures
contained in this tree.

In [1]:
from planetarypy.pds import (
    get_index,
    list_indexes,
    list_available_indexes,
    list_instruments,
    list_missions,
)

Note: The names under the instrument name space are the names of available PDS3 Index files.

In [2]:
list_available_indexes()

PDS Indexes Configuration:
├── cassini
│   ├── iss
│   │   ├── index
│   │   ├── inventory
│   │   ├── moon_summary
│   │   ├── ring_summary
│   │   └── saturn_summary
│   └── uvis
│       ├── index
│       ├── moon_summary
│       ├── ring_summary
│       ├── saturn_summary
│       ├── supplemental_index
│       └── versions
├── go
│   └── ssi
│       └── edr
├── lro
│   ├── diviner
│   │   ├── edr1
│   │   ├── edr2
│   │   ├── rdr1
│   │   └── rdr2
│   ├── lola
│   │   ├── edr
│   │   └── rdr
│   └── lroc
│       └── edr
└── mro
    ├── crism
    │   └── mtrdr
    ├── ctx
    │   └── edr
    └── hirise
        ├── dtm
        ├── edr
        └── rdr

Common abbreviations used for PDS3 data types:
- EDR: Experiment Data Record, usually the raw data
- RDR: Reduced Data Record, usually the calibrated data

In [3]:
list_missions()  # list supported missions

['cassini', 'go', 'lro', 'mro']

In [4]:
list_instruments("mro")  # list supported instruments for a mission

['crism', 'ctx', 'hirise']

In [5]:
list_indexes("mro.ctx")

['edr']

## Retrieving the index as a pandas DataFrame

The first time the index is requested, it will be downloaded, read as a pandas DataFrame,
convert the time strings to datetime objects and store it as a parquet file on the disk.
The below `get_index` function will then return the DataFrame as well.

At the next time the index is requested, it will be read from the parquet file on the disk, if no newer file is available on the PDS server, otherwise the updated index will be acquired.

In [6]:
df = get_index("mro.ctx.edr")
df.head()  # print the first few rows of the index

,VOLUME_ID,FILE_SPECIFICATION_NAME,ORIGINAL_PRODUCT_ID,PRODUCT_ID,IMAGE_TIME,INSTRUMENT_ID,INSTRUMENT_MODE_ID,LINE_SAMPLES,LINES,SPATIAL_SUMMING,...,SUB_SOLAR_LATITUDE,SUB_SPACECRAFT_LONGITUDE,SUB_SPACECRAFT_LATITUDE,SOLAR_DISTANCE,SOLAR_LONGITUDE,LOCAL_TIME,IMAGE_SKEW_ANGLE,RATIONALE_DESC,DATA_QUALITY_DESC,ORBIT_NUMBER
0,MROX_0001,DATA/CRU_000001_9999_XN_99N999W.IMG,4A_04_0001000400,CRU_000001_9999_XN_99N999W,2005-08-30 15:40:21.549,CTX,NIFL,5056,1024,1,...,0.0,0.0,0.0,0.0,278.89,10.16,0.0,Instrument checkout image of space ...,OK,-4242
1,MROX_0001,DATA/CRU_000002_9999_XN_99N999W.IMG,4A_04_0001000500,CRU_000002_9999_XN_99N999W,2005-09-08 15:59:45.313,CTX,NIFL,5056,15360,1,...,0.0,0.0,0.0,0.0,284.48,4.6,0.0,Calibration image of the Moon ...,OK,-4126
2,MROX_0001,DATA/CRU_000003_9999_XN_99N999W.IMG,4A_04_0001000600,CRU_000003_9999_XN_99N999W,2005-09-08 16:03:37.927,CTX,NIFL,5056,2048,1,...,0.0,0.0,0.0,0.0,284.48,4.66,0.0,Calibration image of Omega Centauri (globular ...,OK,-4126
3,MROX_0001,DATA/CRU_000004_9999_XN_99N999W.IMG,4A_04_0001000700,CRU_000004_9999_XN_99N999W,2005-09-08 16:08:23.841,CTX,NIFL,5056,2048,1,...,0.0,0.0,0.0,0.0,284.48,4.74,0.0,Calibration image of Omega Centauri (globular ...,OK,-4126
4,MROX_0001,DATA/CRU_000005_9999_XN_99N999W.IMG,4A_04_0001000800,CRU_000005_9999_XN_99N999W,2005-09-08 16:11:18.649,CTX,NIFL,5056,21504,1,...,0.0,0.0,0.0,0.0,284.48,4.79,0.0,Calibration image of the Moon ...,OK,-4126

## Specialized metadata

The Cassini indexes have some specialized metadata that is not available in the other indexes, thanks to extra work done by the PDS Rings-Moons node team.

Let's have a look what kind of data is available in the different indexes, using the ISS camera as an example.

In [7]:
list_indexes("cassini.iss")

['index', 'inventory', 'moon_summary', 'ring_summary', 'saturn_summary']

In [8]:
index = get_index("cassini.iss.index", refresh=False)
index.head()

,FILE_NAME,FILE_SPECIFICATION_NAME,VOLUME_ID,ANTIBLOOMING_STATE_FLAG,BIAS_STRIP_MEAN,CALIBRATION_LAMP_STATE_FLAG,COMMAND_FILE_NAME,COMMAND_SEQUENCE_NUMBER,DARK_STRIP_MEAN,DATA_CONVERSION_TYPE,...,TWIST_ANGLE,TARGET_LIST,UPPER_LEFT_LATITUDE,UPPER_LEFT_LONGITUDE,UPPER_RIGHT_LATITUDE,UPPER_RIGHT_LONGITUDE,DATA_SET_NAME,INSTRUMENT_HOST_ID,PRODUCT_TYPE,STANDARD_DATA_PRODUCT_ID
0,N1454725799_1.IMG,data/1454725799_1455008789/N1454725799_1.IMG,COISS_2001,OFF,14.869863,N/A,OPNAV_848_3.ioi ...,8,0.0,12BIT,...,89.513591,"S2_2004,HELENE,TELESTO,RHEA ...",-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,CASSINI ORBITER SATURN ISSNA/ISSWA 2 EDR VERSI...,CO,EDR,ISS_EDR
1,N1454726579_1.IMG,data/1454725799_1455008789/N1454726579_1.IMG,COISS_2001,OFF,14.860078,N/A,OPNAV_864_3.ioi ...,8,0.0,12BIT,...,89.647635,TITAN ...,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,CASSINI ORBITER SATURN ISSNA/ISSWA 2 EDR VERSI...,CO,EDR,ISS_EDR
2,N1454727359_1.IMG,data/1454725799_1455008789/N1454727359_1.IMG,COISS_2001,OFF,14.87867,N/A,OPNAV_880_3.ioi ...,8,0.0,12BIT,...,89.679084,HYPERION ...,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,CASSINI ORBITER SATURN ISSNA/ISSWA 2 EDR VERSI...,CO,EDR,ISS_EDR
3,N1454728139_1.IMG,data/1454725799_1455008789/N1454728139_1.IMG,COISS_2001,OFF,14.842465,N/A,OPNAV_912_3.ioi ...,8,0.0,12BIT,...,88.677516,PHOEBE ...,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,CASSINI ORBITER SATURN ISSNA/ISSWA 2 EDR VERSI...,CO,EDR,ISS_EDR
4,N1454728919_1.IMG,data/1454725799_1455008789/N1454728919_1.IMG,COISS_2001,OFF,14.86497,N/A,OPNAV_896_3.ioi ...,8,0.0,12BIT,...,89.79891,IAPETUS ...,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,-100000000000000005366162204393472.0,CASSINI ORBITER SATURN ISSNA/ISSWA 2 EDR VERSI...,CO,EDR,ISS_EDR

In [9]:
index.columns.values

array(['FILE_NAME', 'FILE_SPECIFICATION_NAME', 'VOLUME_ID',
       'ANTIBLOOMING_STATE_FLAG', 'BIAS_STRIP_MEAN',
       'CALIBRATION_LAMP_STATE_FLAG', 'COMMAND_FILE_NAME',
       'COMMAND_SEQUENCE_NUMBER', 'DARK_STRIP_MEAN',
       'DATA_CONVERSION_TYPE', 'DATA_SET_ID', 'DELAYED_READOUT_FLAG',
       'DESCRIPTION', 'DETECTOR_TEMPERATURE', 'EARTH_RECEIVED_START_TIME',
       'EARTH_RECEIVED_STOP_TIME', 'ELECTRONICS_BIAS',
       'EXPECTED_MAXIMUM_1', 'EXPECTED_MAXIMUM_2', 'EXPECTED_PACKETS',
       'EXPOSURE_DURATION', 'FILTER_NAME_1', 'FILTER_NAME_2',
       'FILTER_TEMPERATURE', 'FLIGHT_SOFTWARE_VERSION_ID', 'GAIN_MODE_ID',
       'IMAGE_MID_TIME', 'IMAGE_NUMBER', 'IMAGE_OBSERVATION_TYPE',
       'IMAGE_TIME', 'INSTRUMENT_DATA_RATE', 'INSTRUMENT_HOST_NAME',
       'INSTRUMENT_ID', 'INSTRUMENT_MODE_ID', 'INSTRUMENT_NAME',
       'INST_CMPRS_PARAM_1', 'INST_CMPRS_PARAM_2', 'INST_CMPRS_PARAM_3',
       'INST_CMPRS_PARAM_4', 'INST_CMPRS_RATE_1', 'INST_CMPRS_RATE_2',
       'INST_CMPRS_RATIO', 'INST_CMPRS_TYPE', 'LIGHT_FLOOD_STATE_FLAG',
       'METHOD_DESC', 'MISSING_LINES', 'MISSING_PACKET_FLAG',
       'MISSION_NAME', 'MISSION_PHASE_NAME', 'OBSERVATION_ID',
       'OPTICS_TEMPERATURE_1', 'OPTICS_TEMPERATURE_2', 'ORDER_NUMBER',
       'PARALLEL_CLOCK_VOLTAGE_INDEX', 'PREPARE_CYCLE_INDEX',
       'PRODUCT_CREATION_TIME', 'PRODUCT_ID', 'PRODUCT_VERSION_TYPE',
       'READOUT_CYCLE_INDEX', 'RECEIVED_PACKETS',
       'SENSOR_HEAD_ELEC_TEMPERATURE', 'SEQUENCE_ID', 'SEQUENCE_NUMBER',
       'SEQUENCE_TITLE', 'SHUTTER_MODE_ID', 'SHUTTER_STATE_ID',
       'SOFTWARE_VERSION_ID', 'SPACECRAFT_CLOCK_CNT_PARTITION',
       'SPACECRAFT_CLOCK_START_COUNT', 'SPACECRAFT_CLOCK_STOP_COUNT',
       'START_TIME', 'STOP_TIME', 'TARGET_DESC', 'TARGET_NAME',
       'TELEMETRY_FORMAT_ID', 'VALID_MAXIMUM_1', 'VALID_MAXIMUM_2',
       'CENTRAL_BODY_DISTANCE', 'COORDINATE_SYSTEM_NAME', 'DECLINATION',
       'EMISSION_ANGLE', 'INCIDENCE_ANGLE', 'LOWER_LEFT_LATITUDE',
       'LOWER_LEFT_LONGITUDE', 'LOWER_RIGHT_LATITUDE',
       'LOWER_RIGHT_LONGITUDE', 'MAXIMUM_RING_RADIUS',
       'MINIMUM_RING_RADIUS', 'NORTH_AZIMUTH_CLOCK_ANGLE',
       'TARGET_NORTH_CLOCK_ANGLE', 'PHASE_ANGLE', 'PIXEL_SCALE',
       'PLANET_CENTER_1', 'PLANET_CENTER_2', 'RIGHT_ASCENSION',
       'RING_CENTER_LATITUDE', 'RING_CENTER_LONGITUDE',
       'RING_EMISSION_ANGLE', 'RING_INCIDENCE_ANGLE', 'RINGS_FLAG',
       'SC_PLANET_POSITION_VECTOR_1', 'SC_PLANET_POSITION_VECTOR_2',
       'SC_PLANET_POSITION_VECTOR_3', 'SC_PLANET_VELOCITY_VECTOR_1',
       'SC_PLANET_VELOCITY_VECTOR_2', 'SC_PLANET_VELOCITY_VECTOR_3',
       'SC_SUN_POSITION_VECTOR_1', 'SC_SUN_POSITION_VECTOR_2',
       'SC_SUN_POSITION_VECTOR_3', 'SC_SUN_VELOCITY_VECTOR_1',
       'SC_SUN_VELOCITY_VECTOR_2', 'SC_SUN_VELOCITY_VECTOR_3',
       'SC_TARGET_POSITION_VECTOR_1', 'SC_TARGET_POSITION_VECTOR_2',
       'SC_TARGET_POSITION_VECTOR_3', 'SC_TARGET_VELOCITY_VECTOR_1',
       'SC_TARGET_VELOCITY_VECTOR_2', 'SC_TARGET_VELOCITY_VECTOR_3',
       'SPICE_PRODUCT_ID', 'SUB_SOLAR_LATITUDE', 'SUB_SOLAR_LONGITUDE',
       'SUB_SPACECRAFT_LATITUDE', 'SUB_SPACECRAFT_LONGITUDE',
       'CENTER_LATITUDE', 'CENTER_LONGITUDE', 'TARGET_DISTANCE',
       'TARGET_EASTERNMOST_LONGITUDE', 'TARGET_NORTHERNMOST_LATITUDE',
       'TARGET_SOUTHERNMOST_LATITUDE', 'TARGET_WESTERNMOST_LONGITUDE',
       'TWIST_ANGLE', 'TARGET_LIST', 'UPPER_LEFT_LATITUDE',
       'UPPER_LEFT_LONGITUDE', 'UPPER_RIGHT_LATITUDE',
       'UPPER_RIGHT_LONGITUDE', 'DATA_SET_NAME', 'INSTRUMENT_HOST_ID',
       'PRODUCT_TYPE', 'STANDARD_DATA_PRODUCT_ID'], dtype=object)

In [10]:
moons = get_index("cassini.iss.moon_summary", refresh=False)

In [11]:
moons.head()

,VOLUME_ID,FILE_SPECIFICATION_NAME,OPUS_ID,TARGET_NAME,MINIMUM_PLANETOCENTRIC_LATITUDE,MAXIMUM_PLANETOCENTRIC_LATITUDE,MINIMUM_PLANETOGRAPHIC_LATITUDE,MAXIMUM_PLANETOGRAPHIC_LATITUDE,MINIMUM_IAU_LONGITUDE,MAXIMUM_IAU_LONGITUDE,...,MAXIMUM_EMISSION_ANGLE,SUB_SOLAR_PLANETOCENTRIC_LATITUDE,SUB_SOLAR_PLANETOGRAPHIC_LATITUDE,SUB_OBSERVER_PLANETOCENTRIC_LATITUDE,SUB_OBSERVER_PLANETOGRAPHIC_LATITUDE,SUB_SOLAR_IAU_LONGITUDE,SUB_OBSERVER_IAU_LONGITUDE,CENTER_RESOLUTION,CENTER_DISTANCE,CENTER_PHASE_ANGLE
0,COISS_2001,data/1454725799_1455008789/N1454725799_1.LBL,co-iss-n1454725799,RHEA,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-25.206,-25.442,-16.566,-16.558,183.907,252.947,423.6356,70701354.366,64.429
1,COISS_2001,data/1454725799_1455008789/N1454725799_1.LBL,co-iss-n1454725799,HELENE,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-25.532,-50.716,-16.532,-36.57,148.17,217.149,424.36902,70823757.002,64.345
2,COISS_2001,data/1454725799_1455008789/N1454725799_1.LBL,co-iss-n1454725799,TELESTO,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-26.061,-51.51,-15.639,-21.616,189.199,257.807,424.28746,70810144.519,64.28
3,COISS_2001,data/1454725799_1455008789/N1454726579_1.LBL,co-iss-n1454726579,TITAN,-36.111,-36.111,-36.111,-36.111,0.0,360.0,...,54.704,-25.325,-25.325,-16.28,-16.28,340.092,47.855,428.89673,71579395.066,63.37
4,COISS_2001,data/1454725799_1455008789/N1454727359_1.LBL,co-iss-n1454727359,HYPERION,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,11.777,25.907,44.104,57.544,173.985,237.769,418.94545,69918606.586,63.093

In [12]:
moons.columns.values

array(['VOLUME_ID', 'FILE_SPECIFICATION_NAME', 'OPUS_ID', 'TARGET_NAME',
       'MINIMUM_PLANETOCENTRIC_LATITUDE',
       'MAXIMUM_PLANETOCENTRIC_LATITUDE',
       'MINIMUM_PLANETOGRAPHIC_LATITUDE',
       'MAXIMUM_PLANETOGRAPHIC_LATITUDE', 'MINIMUM_IAU_LONGITUDE',
       'MAXIMUM_IAU_LONGITUDE', 'MINIMUM_LOCAL_HOUR_ANGLE',
       'MAXIMUM_LOCAL_HOUR_ANGLE', 'MINIMUM_LONGITUDE_WRT_OBSERVER',
       'MAXIMUM_LONGITUDE_WRT_OBSERVER',
       'MINIMUM_FINEST_SURFACE_RESOLUTION',
       'MAXIMUM_FINEST_SURFACE_RESOLUTION',
       'MINIMUM_COARSEST_SURFACE_RESOLUTION',
       'MAXIMUM_COARSEST_SURFACE_RESOLUTION', 'MINIMUM_SURFACE_DISTANCE',
       'MAXIMUM_SURFACE_DISTANCE', 'MINIMUM_PHASE_ANGLE',
       'MAXIMUM_PHASE_ANGLE', 'MINIMUM_INCIDENCE_ANGLE',
       'MAXIMUM_INCIDENCE_ANGLE', 'MINIMUM_EMISSION_ANGLE',
       'MAXIMUM_EMISSION_ANGLE', 'SUB_SOLAR_PLANETOCENTRIC_LATITUDE',
       'SUB_SOLAR_PLANETOGRAPHIC_LATITUDE',
       'SUB_OBSERVER_PLANETOCENTRIC_LATITUDE',
       'SUB_OBSERVER_PLANETOGRAPHIC_LATITUDE', 'SUB_SOLAR_IAU_LONGITUDE',
       'SUB_OBSERVER_IAU_LONGITUDE', 'CENTER_RESOLUTION',
       'CENTER_DISTANCE', 'CENTER_PHASE_ANGLE'], dtype=object)

In [13]:
# Get common columns using set intersection
common_columns = set(index.columns).intersection(set(moons.columns))
print(f"Common columns between df and moons:")
for col in sorted(common_columns):
    print(f"- {col}")

Common columns between df and moons:
- FILE_SPECIFICATION_NAME
- TARGET_NAME
- VOLUME_ID

In [14]:
index.FILE_SPECIFICATION_NAME.head()

0    data/1454725799_1455008789/N1454725799_1.IMG
1    data/1454725799_1455008789/N1454726579_1.IMG
2    data/1454725799_1455008789/N1454727359_1.IMG
3    data/1454725799_1455008789/N1454728139_1.IMG
4    data/1454725799_1455008789/N1454728919_1.IMG
Name: FILE_SPECIFICATION_NAME, dtype: string

In [15]:
moons.FILE_SPECIFICATION_NAME.head()

0    data/1454725799_1455008789/N1454725799_1.LBL
1    data/1454725799_1455008789/N1454725799_1.LBL
2    data/1454725799_1455008789/N1454725799_1.LBL
3    data/1454725799_1455008789/N1454726579_1.LBL
4    data/1454725799_1455008789/N1454727359_1.LBL
Name: FILE_SPECIFICATION_NAME, dtype: string